 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px/1.5 Arial, sans-serif; COLOR: #555; PADDING-TOP: 0px;	margin-left: 0px;	margin-top: 0px;	margin-right: 0px	margin-bottom: 0px;
}
A {
	COLOR: #009; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #900; TEXT-DECORATION: underline
}
A:unknown {
	COLOR: #900; TEXT-DECORATION: underline
}
A:active {
	COLOR: #900; TEXT-DECORATION: underline
}
A:unknown {
	OVERFLOW: hidden
}
A:active {
	OVERFLOW: hidden
}
H1 {
	FONT-SIZE: 26px; MARGIN: 0px 0px 15px; COLOR: #333; LINE-HEIGHT: 1em
}
H2 {
	FONT-SIZE: 26px; MARGIN: 0px 0px 15px; COLOR: #333; LINE-HEIGHT: 1em
}
H3 {
	FONT-SIZE: 26px; MARGIN: 0px 0px 15px; COLOR: #333; LINE-HEIGHT: 1em
}
H4 {
	FONT-SIZE: 26px; MARGIN: 0px 0px 15px; COLOR: #333; LINE-HEIGHT: 1em
}
H5 {
	FONT-SIZE: 26px; MARGIN: 0px 0px 15px; COLOR: #333; LINE-HEIGHT: 1em
}
H6 {
	FONT-SIZE: 26px; MARGIN: 0px 0px 15px; COLOR: #333; LINE-HEIGHT: 1em
}
H1 {
	FONT-WEIGHT: normal; LETTER-SPACING: -1px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 6px; PADDING-TOP: 0px; BORDER-BOTTOM: #999 2px solid; LETTER-SPACING: -1px
}
H3 {
	FONT-SIZE: 16px; LETTER-SPACING: -1px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 12px
}
H6 {
	FONT-SIZE: 10px
}
P {
	MARGIN: 0px 0px 20px
}
UL {
	MARGIN: 0px 30px 20px
}
OL {
	MARGIN: 0px 30px 20px
}
UL UL {
	MARGIN-BOTTOM: 0px
}
OL OL {
	MARGIN-BOTTOM: 0px
}
UL OL {
	MARGIN-BOTTOM: 0px
}
OL UL {
	MARGIN-BOTTOM: 0px
}
UL {
	LIST-STYLE-TYPE: disc
}
OL {
	LIST-STYLE-TYPE: decimal
}
DL {
	MARGIN: 0px 40px 20px
}
DL DT {
	FONT-WEIGHT: bold
}
DL DD {
	MARGIN: 0px 0px 0px 20px
}
abbr {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
ADDRESS {
	MARGIN: 0px 0px 20px; FONT-STYLE: italic
}
DEL {
	
}
BLOCKQUOTE {
	MARGIN: 0px 40px
}
STRONG {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
DFN {
	FONT-STYLE: italic
}
DFN {
	FONT-WEIGHT: bold
}
PRE {
	MARGIN: 0px 0px 20px
}
PRE {
	FONT: 11px/1.5 monospace; WHITE-SPACE: pre
}
CODE {
	FONT: 11px/1.5 monospace; WHITE-SPACE: pre
}
CAPTION {
	BACKGROUND: #ffc
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
HR {
	MARGIN: 0px 0px 20px
}
.clear {
	CLEAR: both
}
.clearfix {
	DISPLAY: inline-block
}
#page {
	DISPLAY: inline-block
}
#nav {
	DISPLAY: inline-block
}
#body {
	DISPLAY: inline-block
}
#content {
	DISPLAY: inline-block
}
#foot {
	DISPLAY: inline-block
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; FONT: 0px/0px serif; HEIGHT: 0px; content: "."
}
#page:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; FONT: 0px/0px serif; HEIGHT: 0px; content: "."
}
#nav:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; FONT: 0px/0px serif; HEIGHT: 0px; content: "."
}
#body:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; FONT: 0px/0px serif; HEIGHT: 0px; content: "."
}
#content:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; FONT: 0px/0px serif; HEIGHT: 0px; content: "."
}
#foot:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; FONT: 0px/0px serif; HEIGHT: 0px; content: "."
}
UNKNOWN {
	DISPLAY: block
}
.small {
	FONT-SIZE: 0.8em
}
.large {
	FONT-SIZE: 2em
}
.quiet {
	COLOR: #999
}
.highlight {
	BACKGROUND: #ffc
}
.top {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
.bottom {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
.left {
	FLOAT: left; MARGIN: 0px 20px 20px 0px
}
.right {
	FLOAT: right; MARGIN: 0px 0px 20px 20px
}
.hide {
	DISPLAY: none
}
.links {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-TOP: 20px; LIST-STYLE-TYPE: none
}
.links P {
	MARGIN: 0px; CURSOR: pointer; COLOR: #009; TEXT-DECORATION: underline
}
.links CODE {
	BORDER-RIGHT: #ddd 1px dotted; PADDING-RIGHT: 6px; BORDER-TOP: #ddd 1px dotted; PADDING-LEFT: 6px; BACKGROUND: #eee; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 20px; OVERFLOW: auto; BORDER-LEFT: #ddd 1px dotted; PADDING-TOP: 6px; BORDER-BOTTOM: #ddd 1px dotted; max-height: 150px
}
#page {
	MARGIN: 0px auto; WIDTH: 300px; POSITION: relative; TEXT-ALIGN: left
}
#head {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #ddd; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; POSITION: relative; moz-border-radius-topleft: 6px; moz-border-radius-topright: 6px; webkit-border-top-left-radius: 6px; webkit-border-top-right-radius: 6px
}
#head H1 {
	MARGIN: 0px
}
#head H1 SPAN {
	DISPLAY: block; FONT-SIZE: 15px; COLOR: #888
}
#body {
	BACKGROUND: #fff
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
#foot {
	CLEAR: both; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #666; PADDING-BOTTOM: 20px; COLOR: #fff; PADDING-TOP: 20px; moz-border-radius-bottomleft: 6px; moz-border-radius-bottomright: 6px; webkit-border-bottom-left-radius: 6px; webkit-border-bottom-right-radius: 6px
}
#foot P {
	MARGIN: 0px
}
#foot A {
	FONT-WEIGHT: bold; COLOR: #ccc
}
#foot A:hover {
	COLOR: #000
}
#foot A:unknown {
	COLOR: #000
}
#foot A:active {
	COLOR: #000
}
